@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
}
#header .inner {
  width: 1180px;
  height: 140px;
  margin: 0 auto;
  position: relative;
  transition: 0.5s;
}
#header .inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ddd;
  top: 78px;
  z-index: -1;
}
#header .inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #999;
  bottom: 0px;
  z-index: -1;
}
#header .inner > h1 {
  position: absolute;
  left: 0;
  top: 20px;
}
#header .inner > h1 a {
  color: #4e6298;
}
#header .inner .gnb {
  position: absolute;
  left: 0;
  bottom: 0;
}
#header .inner .gnb li {
  float: left;
}
#header .inner .gnb li a {
  position: relative;
  display: block;
  padding: 24px 30px;
  font: 14px/1 "arial";
  color: #999;
}
#header .inner .gnb li a:hover, #header .inner .gnb li a.on {
  color: #4e6298;
  transition: 0.5s;
}
#header .inner .gnb li a:hover::after, #header .inner .gnb li a.on::after {
  padding: 1px 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 3px solid #4e6298;
  transition: 0.5s;
}
#header .inner .utill {
  position: absolute;
  right: 0;
  top: 30px;
}
#header .inner .utill li {
  position: relative;
  float: left;
  margin-left: 20px;
}
#header .inner .utill li:first-of-type::after {
  content: "";
  display: block;
  width: 1px;
  height: 50%;
  background: #ddd;
  position: absolute;
  top: 60%;
  right: -10px;
  transform: translateY(-50%);
}
#header .inner .utill li a {
  font: 12px/1 "arial";
  color: #999;
}
#header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
#header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: linear-gradient(#4e6298, #303239, #303239);
  position: fixed;
  top: 0;
  left: -270px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
  display: none;
}
#header .inner .menuMo.on {
  left: 0;
}
#header .inner .menuMo > .inputWrap {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 30px;
}
#header .inner .menuMo h1 {
  padding-bottom: 60px;
  border-bottom: 1px solid #fff;
}
#header .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
}
#header .inner .menuMo h1 span {
  font-size: 12px;
  color: #fff;
}
#header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #888;
  font: bold 14px/1 "arial";
  color: #fff;
  text-align: center;
}
#header .inner .inputWrap {
  position: absolute;
  bottom: 17px;
  right: 100px;
}
#header .inner .inputWrap input {
  width: 150px;
  height: 30px;
  border: 1px solid #eee;
}
#header .inner .inputWrap button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border: none;
  background: none;
  color: #aaa;
  cursor: pointer;
}

.content {
  width: 100%;
  padding: 0 0 150px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #bbb;
  margin-bottom: 100px;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}
.content .inner h1 {
  font: normal 50px/1 "arial";
  color: #000;
  margin-bottom: 60px;
}
.content .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.content .inner h1 span::before {
  content: "/";
  margin-right: 20px;
  margin-left: 10px;
}

#footer {
  width: 100%;
  padding: 40px 0;
  background: #ddd;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 10px 0 0;
  position: relative;
}
#footer .inner::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  bottom: 35%;
  left: 0;
}
#footer .inner::after {
  display: block;
  content: "";
  clear: both;
}
#footer .inner h1 {
  float: left;
  color: #444;
  font: bold 20px/1 "arial";
  margin-bottom: 10px;
}
#footer .inner .top_box {
  float: right;
}
#footer .inner .top_box li {
  float: left;
  margin-left: 20px;
}
#footer .inner .top_box li a {
  font: 14px/1 "arial";
  color: #444;
}
#footer .inner address {
  width: 100%;
  float: left;
  font: 14px/1.3 "arial";
  color: #444;
  margin-bottom: 80px;
}
#footer .inner p {
  font: 14px/1 "arial";
  color: #444;
  float: left;
}
#footer .inner .bottom_box {
  float: right;
}
#footer .inner .bottom_box li {
  float: left;
  margin-left: 10px;
}
#footer .inner .bottom_box li i {
  font-size: 20px;
}

@media screen and (max-width: 1179px) {
  body #header {
    width: 100%;
  }
  body #header .inner {
    width: 100%;
    height: 100px;
  }
  body #header .inner::after {
    display: none;
  }
  body #header .inner::before {
    height: 2px;
  }
  body #header .inner > h1 {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  body #header .inner .menuWeb {
    display: none;
  }
  body #header .inner .btnCall {
    display: block;
  }
  body #header .inner .menuMo {
    display: block;
  }
  body #footer .inner {
    width: 100%;
    padding: 10px 20px 0;
  }
}
@media screen and (max-width: 539px) {
  body #footer {
    padding: 20px 0;
  }
  body #footer .inner {
    padding: 10px 20px 20px;
  }
  body #footer .inner > h1 {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
  }
  body #footer .inner .top_box {
    float: none;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  body #footer .inner address {
    text-align: center;
    float: none;
    margin-bottom: 50px;
  }
  body #footer .inner > p {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  body #footer .inner .bottom_box {
    float: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body #footer .inner .bottom_box li {
    float: none;
    margin-left: 0;
    margin: 0 10px;
  }
}
body {
  background-color: #ececec;
}
body #skipNavi {
  position: relative;
  z-index: 2;
}
body #skipNavi li a {
  display: block;
  width: 100%;
  height: 40px;
  background: darkblue;
  font: bold 15px/40px "맑은 고딕";
  color: #fff;
  text-align: center;
  position: fixed;
  top: -40px;
  left: 0;
}
body #skipNavi li a.on {
  top: 0;
}
body #header {
  width: 100%;
}
body #header .inner {
  width: 1180px;
  height: 140px;
  margin: 0 auto;
  position: relative;
  transition: 0.5s;
}
body #header .inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ddd;
  top: 78px;
  z-index: -1;
}
body #header .inner::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #999;
  bottom: 0px;
  z-index: -1;
}
body #header .inner > h1 {
  position: absolute;
  left: 0;
  top: 20px;
}
body #header .inner > h1 a {
  color: #4e6298;
}
body #header .inner .gnb {
  position: absolute;
  left: 0;
  bottom: 0;
}
body #header .inner .gnb li {
  float: left;
}
body #header .inner .gnb li a {
  position: relative;
  display: block;
  padding: 24px 30px;
  font: 14px/1 "arial";
  color: #999;
}
body #header .inner .gnb li a:hover, body #header .inner .gnb li a.on {
  color: #4e6298;
  transition: 0.5s;
}
body #header .inner .gnb li a:hover::after, body #header .inner .gnb li a.on::after {
  padding: 1px 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 3px solid #4e6298;
  transition: 0.5s;
}
body #header .inner .utill {
  position: absolute;
  right: 0;
  top: 30px;
}
body #header .inner .utill li {
  position: relative;
  float: left;
  margin-left: 20px;
}
body #header .inner .utill li:first-of-type::after {
  content: "";
  display: block;
  width: 1px;
  height: 50%;
  background: #ddd;
  position: absolute;
  top: 60%;
  right: -10px;
  transform: translateY(-50%);
}
body #header .inner .utill li a {
  font: 12px/1 "arial";
  color: #999;
}
body #header .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 20px;
}
body #header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
body #header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s 0s, transform 0.5s 0.5s;
}
body #header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  transition: 1s;
  text-indent: -9999px;
}
body #header .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
body #header .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
body #header .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
body #header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: linear-gradient(#4e6298, #303239, #303239);
  position: fixed;
  top: 0;
  left: -270px;
  padding: 35px 30px;
  z-index: 10;
  transition: 0.5s;
  display: none;
}
body #header .inner .menuMo.on {
  left: 0;
}
body #header .inner .menuMo > .inputWrap {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 30px;
}
body #header .inner .menuMo h1 {
  padding-bottom: 60px;
  border-bottom: 1px solid #fff;
}
body #header .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
}
body #header .inner .menuMo h1 span {
  font-size: 12px;
  color: #fff;
}
body #header .inner .menuMo #gnbMo li a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #888;
  font: bold 14px/1 "arial";
  color: #fff;
  text-align: center;
}
body #header .inner .inputWrap {
  position: absolute;
  bottom: 17px;
  right: 100px;
}
body #header .inner .inputWrap input {
  width: 150px;
  height: 30px;
  border: 1px solid #eee;
}
body #header .inner .inputWrap button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border: none;
  background: none;
  color: #aaa;
  cursor: pointer;
}
body #visual {
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
}
body #visual .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  transition: 0.5s;
}
body #visual .inner > .txt_box {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
body #visual .inner > .txt_box > h1 {
  font: bold 36px/1 "arial";
  color: #444;
}
body #visual .inner > .txt_box > h1 > span {
  color: #4e6298;
}
body #visual .inner > .txt_box > a {
  display: block;
  width: 200px;
  height: 50px;
  background: linear-gradient(#4e6298, #303239, #303239);
  color: #fff;
  text-align: center;
  font: 18px/50px "arial";
  border-radius: 3px;
}
body #visual .inner .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body #visual .inner .content #slider {
  width: calc(60% - 20px);
  height: 400px;
  position: relative;
  overflow: hidden;
}
body #visual .inner .content #slider ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
body #visual .inner .content #slider ul li {
  height: 100%;
  font-size: 40px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
body #visual .inner .content #slider ul li[data-index="1"] {
  background-image: url(../img/main1.jpg);
}
body #visual .inner .content #slider ul li[data-index="2"] {
  background-image: url(../img/main2.jpg);
}
body #visual .inner .content #slider ul li[data-index="3"] {
  background-image: url(../img/main3.webp);
}
body #visual .inner .content #slider ul li[data-index="4"] {
  background-image: url(../img/main4.jpg);
}
body #visual .inner .content .title_box {
  position: relative;
  width: 40%;
  border-top: 5px solid #4e6298;
  margin-left: 20px;
}
body #visual .inner .content .title_box .prev {
  position: absolute;
  top: 20px;
  left: 0;
  width: 30px;
  height: 30px;
}
body #visual .inner .content .title_box .prev img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #visual .inner .content .title_box .next {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 30px;
  height: 30px;
}
body #visual .inner .content .title_box .next img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #visual .inner .content .title_box .txt_box {
  width: 100%;
  padding: 80px 0 0;
}
body #visual .inner .content .title_box .txt_box h1 {
  font: bold 24px/1 "arial";
  color: #444;
  margin-bottom: 5px;
}
body #visual .inner .content .title_box .txt_box > h2 {
  font: 16px/1.5 "Kdam Thmor Pro";
  font-style: oblique;
  color: #444;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
body #visual .inner .content .title_box .txt_box > span {
  display: block;
  font: 14px/1 "arial";
  color: #444;
  opacity: 0.8;
  margin-bottom: 20px;
}
body #visual .inner .content .title_box .txt_box > span > span {
  color: #4e6298;
  margin-left: 15px;
  position: relative;
  margin-bottom: 20px;
  opacity: 1;
}
body #visual .inner .content .title_box .txt_box > span > span::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: 222;
  background: #444;
  margin-left: -40px;
}
body #visual .inner .content .title_box .txt_box > p {
  font: 14px/1.3 "arial";
  color: #555;
  margin-bottom: 30px;
}
body #visual .inner .content .title_box .txt_box > a {
  display: block;
  font: 16px/1 "arial";
  color: #4e6298;
}
body #services {
  width: 100%;
  padding: 50px 0;
  transition: 0.5s;
}
body #services .inner {
  width: 1180px;
  height: 370px;
  margin: 0 auto;
}
body #services .inner .boxWrap {
  width: 100%;
}
body #services .inner .boxWrap::after {
  content: "";
  display: block;
  clear: both;
}
body #services .inner .boxWrap > div {
  float: left;
}
body #services .inner .boxWrap > div.left_box {
  width: 20%;
  margin-right: 20px;
  border-top: 5px solid #999;
  padding: 20px 0px 10px 10px;
}
body #services .inner .boxWrap > div.left_box h1 {
  font: bold 18px/1 "arial";
  color: #444;
}
body #services .inner .boxWrap > div.left_box ul {
  width: 100%;
}
body #services .inner .boxWrap > div.left_box ul li {
  border-bottom: 1px solid #bbb;
}
body #services .inner .boxWrap > div.left_box ul li.on a, body #services .inner .boxWrap > div.left_box ul li.on i {
  color: #4e6298;
}
body #services .inner .boxWrap > div.left_box ul li a {
  display: block;
  color: #bbb;
  padding: 10px 0;
  font: 14px/1 "arial";
}
body #services .inner .boxWrap > div.left_box ul li a i {
  font-size: 12px;
  margin-right: 10px;
}
body #services .inner .boxWrap > div.right_box {
  width: calc(80% - 20px);
  position: relative;
  height: 400px;
}
body #services .inner .boxWrap > div.right_box ul {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
body #services .inner .boxWrap > div.right_box ul.on {
  display: block;
}
body #services .inner .boxWrap > div.right_box ul::after {
  content: "";
  display: block;
  clear: both;
}
body #services .inner .boxWrap > div.right_box ul li {
  float: left;
  width: calc(33.333% - 10px);
  margin-right: 10px;
  border-top: 3px solid #4e6298;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 25px;
}
body #services .inner .boxWrap > div.right_box ul li::after {
  content: "";
  display: block;
  clear: both;
}
body #services .inner .boxWrap > div.right_box ul li:last-of-type {
  margin-right: 0;
}
body #services .inner .boxWrap > div.right_box ul li .title {
  width: 100%;
  height: 100px;
  background: #eee;
  padding: 0 25px;
  position: relative;
}
body #services .inner .boxWrap > div.right_box ul li .title h1 {
  font: bold 20px/100px "arial";
  letter-spacing: 1px;
  color: #4e6298;
}
body #services .inner .boxWrap > div.right_box ul li .title span {
  display: block;
  width: 65px;
  height: 65px;
  background: linear-gradient(#4e6298, #303239, #303239);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
}
body #services .inner .boxWrap > div.right_box ul li .title span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}
body #services .inner .boxWrap > div.right_box ul li .txt_box {
  background: #ddd;
  padding: 15px 25px;
  border-radius: 0 0 0 25px;
}
body #services .inner .boxWrap > div.right_box ul li .txt_box h2 {
  font: 16px/1.5 "Kdam Thmor Pro";
  font-style: oblique;
  color: #444;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
body #services .inner .boxWrap > div.right_box ul li .txt_box p {
  font: 14px/1.7 "arial";
  color: #555;
  margin-bottom: 25px;
}
body #services .inner .boxWrap > div.right_box ul li .txt_box a {
  color: #4e6298;
  font: 14px/1 "arial";
}
body #services .inner .boxWrap > div.right_box ul.box2 {
  width: 100%;
  border-top: 3px solid #4e6298;
}
body #services .inner .boxWrap > div.right_box ul.box2 li {
  float: left;
  width: 100%;
  border: none;
  padding: 20px 20px 20px 0;
  box-shadow: none;
  border-radius: none;
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(1) {
  width: calc(30% - 10px);
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(1) .pic {
  width: 100%;
  height: 250px;
  background: url(../img/pic4.jpg) no-repeat center/cover;
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) {
  width: calc(40% - 10px);
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) h1 {
  font: bold 20px/1 "arial";
  color: #4e6298;
  margin-bottom: 20px;
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) p {
  font: 14px/1.3 "arial";
  color: #333;
  margin-bottom: 20px;
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) a {
  display: block;
  width: 80px;
  height: 30px;
  background: linear-gradient(#4e6298, #303239, #303239);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 12px/1 "arial";
  color: #fff;
  border-radius: 5px;
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) {
  width: calc(30% - 10px);
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) h1 {
  font: bold 20px/1 "arial";
  color: #4e6298;
  margin-bottom: 20px;
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) h2 {
  font: bold 18px/1 "arial";
  color: #4e6298;
  margin-bottom: 20px;
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) p {
  font: 14px/1.3 "arial";
  color: #333;
  margin-bottom: 20px;
}
body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) a {
  display: block;
  width: 80px;
  height: 30px;
  background: linear-gradient(#4e6298, #303239, #303239);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 12px/1 "arial";
  color: #fff;
  border-radius: 5px;
}
body #services .inner .boxWrap > div.right_box ul.box3 li {
  position: relative;
  border: none;
  box-shadow: none;
  border-radius: none;
  overflow: hidden;
  transition: 0.5s;
}
body #services .inner .boxWrap > div.right_box ul.box3 li:hover .pic {
  transform: scale(1.2);
  transition: 0.5s;
}
body #services .inner .boxWrap > div.right_box ul.box3 li .pic {
  width: 100%;
  height: 350px;
  background: url(../img/pic5.jpg) no-repeat center/cover;
}
body #services .inner .boxWrap > div.right_box ul.box3 li:nth-of-type(2) .pic {
  background: url(../img/pic6.jpg) no-repeat center/cover;
}
body #services .inner .boxWrap > div.right_box ul.box3 li:nth-of-type(3) .pic {
  background: url(../img/pic7.jpg) no-repeat center/cover;
}
body #services .inner .boxWrap > div.right_box ul.box3 li .txt_box {
  border-radius: 0;
  background: transparent;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
body #services .inner .boxWrap > div.right_box ul.box3 li .txt_box h2 {
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
body #services .inner .boxWrap > div.right_box ul.box3 li .txt_box p {
  font-size: 12px;
  color: #ddd;
}
body #services .inner .boxWrap > div.right_box ul.box4 {
  width: 100%;
}
body #services .inner .boxWrap > div.right_box ul.box4 li {
  width: 100%;
}
body #services .inner .boxWrap > div.right_box ul.box4 li .pic {
  width: 100%;
  height: 350px;
  background: url(../img/pic8.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
body #services .inner .boxWrap > div.right_box ul.box4 li .txt_box {
  border-radius: 0;
  background: transparent;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
body #services .inner .boxWrap > div.right_box ul.box4 li .txt_box h2 {
  font-size: 28px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
body #services .inner .boxWrap > div.right_box ul.box4 li .txt_box p {
  font-size: 20px;
  color: #ddd;
}
body #projects {
  width: 100%;
  padding: 50px 0;
}
body #projects .inner {
  width: 1180px;
  margin: 0 auto;
}
body #projects .inner .boxWrap {
  width: 100%;
}
body #projects .inner .boxWrap::after {
  content: "";
  display: block;
  clear: both;
}
body #projects .inner .boxWrap > div {
  float: left;
}
body #projects .inner .boxWrap > div::after {
  content: "";
  display: block;
  clear: both;
}
body #projects .inner .boxWrap > div.left_box {
  width: 20%;
  margin-right: 20px;
  border-top: 5px solid #999;
  padding: 20px 0px 10px 10px;
}
body #projects .inner .boxWrap > div.left_box h1 {
  font: bold 18px/1 "arial";
  color: #444;
  position: relative;
  margin-bottom: 40px;
}
body #projects .inner .boxWrap > div.left_box h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 30px;
  height: 2px;
  background: #ccc;
}
body #projects .inner .boxWrap > div.right_box {
  width: calc(80% - 20px);
}
body #projects .inner .boxWrap > div.right_box ul {
  width: 100%;
}
body #projects .inner .boxWrap > div.right_box ul li {
  float: left;
  width: calc(33.333% - 10px);
  height: 250px;
  margin-right: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}
body #projects .inner .boxWrap > div.right_box ul li::after {
  content: "";
  display: block;
  clear: both;
}
body #projects .inner .boxWrap > div.right_box ul li:last-of-type {
  margin-right: 0;
}
body #projects .inner .boxWrap > div.right_box ul li .bg_box {
  width: 100%;
  height: 100%;
}
body #projects .inner .boxWrap > div.right_box ul li .bg_box:hover .txt_box {
  opacity: 1;
  transition: 0.5s;
}
body #projects .inner .boxWrap > div.right_box ul li .bg_box.bg_box1 {
  background: url(../img/pic1.jpg) no-repeat center/cover;
}
body #projects .inner .boxWrap > div.right_box ul li .bg_box.bg_box2 {
  background: url(../img/pic2.jpg) no-repeat center/cover;
}
body #projects .inner .boxWrap > div.right_box ul li .bg_box.bg_box3 {
  background: url(../img/pic3.jpg) no-repeat center/cover;
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(70, 84, 103, 0.7);
  padding: 30px 20px 0;
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  height: 2px;
  background: #fff;
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box > h2 {
  font: 14px/1.5 "Kdam Thmor Pro";
  font-style: oblique;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box > p {
  font: 12px/1.7 "arial";
  color: #fff;
  margin-bottom: 25px;
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box > a {
  color: #4e6298;
  font: 14px/1 "arial";
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box .bottom_txt {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box .bottom_txt p {
  font: 14px/1 "arial";
  color: #fff;
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box .bottom_txt p i {
  margin-right: 5px;
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box .bottom_txt a {
  display: block;
  font: 14px/1 "arial";
  color: #fff;
}
body #projects .inner .boxWrap > div.right_box ul li .txt_box .bottom_txt a i {
  margin-right: 10px;
}
body #about {
  width: 100%;
  padding: 50px 0;
}
body #about .inner {
  width: 1180px;
  height: 370px;
  margin: 0 auto;
  transition: 0.5s;
}
body #about .inner .boxWrap {
  width: 100%;
}
body #about .inner .boxWrap::after {
  content: "";
  display: block;
  clear: both;
}
body #about .inner .boxWrap > div {
  float: left;
}
body #about .inner .boxWrap > div.left_box {
  width: 20%;
  margin-right: 20px;
  border-top: 5px solid #999;
  padding: 20px 0px 10px 10px;
}
body #about .inner .boxWrap > div.left_box h1 {
  font: bold 18px/1 "arial";
  color: #444;
}
body #about .inner .boxWrap > div.left_box ul {
  width: 100%;
}
body #about .inner .boxWrap > div.left_box ul li {
  border-bottom: 1px solid #bbb;
}
body #about .inner .boxWrap > div.left_box ul li.on a, body #about .inner .boxWrap > div.left_box ul li.on i {
  color: #4e6298;
}
body #about .inner .boxWrap > div.left_box ul li a {
  display: block;
  color: #bbb;
  padding: 10px 0;
  font: 14px/1 "arial";
}
body #about .inner .boxWrap > div.left_box ul li a i {
  font-size: 12px;
  margin-right: 10px;
}
body #about .inner .boxWrap > div.right_box {
  width: calc(80% - 20px);
  height: 400px;
  position: relative;
}
body #about .inner .boxWrap > div.right_box ul {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
body #about .inner .boxWrap > div.right_box ul.on {
  display: block;
}
body #about .inner .boxWrap > div.right_box ul::after {
  content: "";
  display: block;
  clear: both;
}
body #about .inner .boxWrap > div.right_box ul > li {
  width: 100%;
  margin-right: 10px;
  padding-right: 40px;
}
body #about .inner .boxWrap > div.right_box ul > li > h1 {
  font: bold 34px/1 "arial";
  letter-spacing: 1px;
  color: #4e6298;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
body #about .inner .boxWrap > div.right_box ul > li > h2 {
  font: 16px/1.5 "Kdam Thmor Pro";
  font-style: oblique;
  color: #444;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
body #about .inner .boxWrap > div.right_box ul > li > p {
  font: 14px/1.7 "arial";
  color: #555;
  margin-bottom: 25px;
}
body #about .inner .boxWrap > div.right_box ul > li > a {
  color: #4e6298;
  font: 14px/1 "arial";
}
body #footer {
  width: 100%;
  padding: 40px 0;
  background: #ddd;
}
body #footer .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 10px 0 0;
  position: relative;
}
body #footer .inner::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  bottom: 35%;
  left: 0;
}
body #footer .inner::after {
  display: block;
  content: "";
  clear: both;
}
body #footer .inner h1 {
  float: left;
  color: #444;
  font: bold 20px/1 "arial";
  margin-bottom: 10px;
}
body #footer .inner .top_box {
  float: right;
}
body #footer .inner .top_box li {
  float: left;
  margin-left: 20px;
}
body #footer .inner .top_box li a {
  font: 14px/1 "arial";
  color: #444;
}
body #footer .inner address {
  width: 100%;
  float: left;
  font: 14px/1.3 "arial";
  color: #444;
  margin-bottom: 80px;
}
body #footer .inner p {
  font: 14px/1 "arial";
  color: #444;
  float: left;
}
body #footer .inner .bottom_box {
  float: right;
}
body #footer .inner .bottom_box li {
  float: left;
  margin-left: 10px;
}
body #footer .inner .bottom_box li i {
  font-size: 20px;
}

@media screen and (max-width: 1179px) {
  body #header {
    width: 100%;
  }
  body #header .inner {
    width: 100%;
    height: 100px;
  }
  body #header .inner::after {
    display: none;
  }
  body #header .inner::before {
    height: 2px;
  }
  body #header .inner > h1 {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  body #header .inner .menuWeb {
    display: none;
  }
  body #header .inner .btnCall {
    display: block;
  }
  body #header .inner .menuMo {
    display: block;
  }
  body #visual {
    padding: 50px 20px;
  }
  body #visual .inner {
    width: 100%;
  }
  body #visual .inner > .txt_box > h1 {
    font: bold 30px/1 "arial";
  }
  body #visual .inner > .txt_box > a {
    font: 16px/50px "arial";
  }
  body #visual .inner .content .title_box .txt_box h1 {
    font: bold 20px/1 "arial";
  }
  body #visual .inner .content .title_box .txt_box > h2 {
    font: 14px/1.5 "Kdam Thmor Pro";
  }
  body #visual .inner .content .title_box .txt_box > span {
    font: 14px/1 "arial";
  }
  body #visual .inner .content .title_box .txt_box > p {
    font: 14px/1.3 "arial";
    color: #555;
    margin-bottom: 30px;
  }
  body #visual .inner .content .title_box .txt_box > a {
    display: block;
    font: 14px/1 "arial";
    color: #4e6298;
  }
  body #services {
    padding: 50px 20px;
  }
  body #services .inner {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  body #services .inner .boxWrap {
    width: 100%;
  }
  body #services .inner .boxWrap > div {
    float: none;
  }
  body #services .inner .boxWrap > div.left_box {
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding: 20px 0px 40px 10px;
  }
  body #services .inner .boxWrap > div.left_box h1 {
    font: bold 16px/1 "arial";
  }
  body #services .inner .boxWrap > div.left_box ul {
    width: 100%;
  }
  body #services .inner .boxWrap > div.left_box ul li {
    float: left;
    width: 25%;
    border-bottom: none;
  }
  body #services .inner .boxWrap > div.left_box ul li a {
    font: 14px/1 "arial";
  }
  body #services .inner .boxWrap > div.left_box ul li a i {
    font-size: 12px;
  }
  body #services .inner .boxWrap > div.right_box {
    width: 100%;
    position: relative;
  }
  body #services .inner .boxWrap > div.right_box ul.on {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  body #services .inner .boxWrap > div.right_box ul li {
    width: 33.3333333333%;
  }
  body #services .inner .boxWrap > div.right_box ul li .title {
    height: 30%;
  }
  body #services .inner .boxWrap > div.right_box ul li .title h1 {
    font: bold 16px/1 "arial";
    position: absolute;
    top: 50%;
    left: 2.5vw;
    transform: translateY(-50%);
  }
  body #services .inner .boxWrap > div.right_box ul li .title span {
    width: 45px;
    height: 45px;
    right: 2.5vw;
  }
  body #services .inner .boxWrap > div.right_box ul li .title span i {
    font-size: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box {
    height: 70%;
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box h2 {
    font: 14px/1.5 "Kdam Thmor Pro";
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box p {
    font: 14px/1.7 "arial";
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box a {
    font: 14px/1 "arial";
  }
  body #services .inner .boxWrap > div.right_box ul.box2 {
    width: 100%;
    border-top: 3px solid #4e6298;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li {
    float: left;
    width: 100%;
    border: none;
    padding: 20px 20px 20px 0;
    box-shadow: none;
    border-radius: none;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(1) {
    width: calc(30% - 10px);
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(1) .pic {
    width: 100%;
    height: 250px;
    background: url(../img/pic4.jpg) no-repeat center/cover;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) {
    width: calc(40% - 10px);
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) h1 {
    font: bold 20px/1 "arial";
    color: #4e6298;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) p {
    font: 14px/1.3 "arial";
    color: #333;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) a {
    display: block;
    width: 80px;
    height: 30px;
    background: linear-gradient(#4e6298, #303239, #303239);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px/1 "arial";
    color: #fff;
    border-radius: 5px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) {
    width: calc(30% - 10px);
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) h1 {
    font: bold 20px/1 "arial";
    color: #4e6298;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) h2 {
    font: bold 18px/1 "arial";
    color: #4e6298;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) p {
    font: 14px/1.3 "arial";
    color: #333;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) a {
    display: block;
    width: 80px;
    height: 30px;
    background: linear-gradient(#4e6298, #303239, #303239);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px/1 "arial";
    color: #fff;
    border-radius: 5px;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li {
    position: relative;
    border: none;
    box-shadow: none;
    border-radius: none;
    overflow: hidden;
    transition: 0.5s;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li:hover .pic {
    transform: scale(1.2);
    transition: 0.5s;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li .pic {
    width: 100%;
    height: 350px;
    background: url(../img/pic5.jpg) no-repeat center/cover;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li:nth-of-type(2) .pic {
    background: url(../img/pic6.jpg) no-repeat center/cover;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li:nth-of-type(3) .pic {
    background: url(../img/pic7.jpg) no-repeat center/cover;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li .txt_box {
    border-radius: 0;
    background: transparent;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li .txt_box h2 {
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li .txt_box p {
    font-size: 12px;
    color: #ddd;
  }
  body #services .inner .boxWrap > div.right_box ul.box4 {
    width: 100%;
  }
  body #services .inner .boxWrap > div.right_box ul.box4 li {
    width: 100%;
  }
  body #services .inner .boxWrap > div.right_box ul.box4 li .pic {
    width: 100%;
    height: 100%;
    background: url(../img/pic8.jpg) no-repeat center/cover;
    background-attachment: fixed;
  }
  body #services .inner .boxWrap > div.right_box ul.box4 li .txt_box {
    border-radius: 0;
    background: transparent;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  body #services .inner .boxWrap > div.right_box ul.box4 li .txt_box h2 {
    font-size: 28px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  body #services .inner .boxWrap > div.right_box ul.box4 li .txt_box p {
    font-size: 20px;
    color: #ddd;
  }
  body #projects {
    padding: 20px;
  }
  body #projects .inner {
    width: 100%;
    margin: 0 auto;
    transition: 0.5s;
  }
  body #projects .inner .boxWrap > div {
    float: none;
  }
  body #projects .inner .boxWrap > div.left_box {
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding: 20px 0px 20px 10px;
  }
  body #projects .inner .boxWrap > div.left_box h1 {
    font: bold 16px/1 "arial";
    margin-bottom: 0;
  }
  body #projects .inner .boxWrap > div.left_box h1::after {
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
  }
  body #projects .inner .boxWrap > div.right_box {
    width: 100%;
    position: relative;
  }
  body #projects .inner .boxWrap > div.right_box ul {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  body #projects .inner .boxWrap > div.right_box ul li {
    float: none;
    width: calc(33.3333333333% - 10px);
  }
  body #about {
    padding: 20px;
  }
  body #about .inner {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  body #about .inner .boxWrap {
    width: 100%;
  }
  body #about .inner .boxWrap > div {
    float: none;
  }
  body #about .inner .boxWrap > div.left_box {
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding: 20px 0px 50px 10px;
  }
  body #about .inner .boxWrap > div.left_box h1 {
    font: bold 16px/1 "arial";
  }
  body #about .inner .boxWrap > div.left_box ul li {
    float: left;
    width: 25%;
    border-bottom: none;
  }
  body #about .inner .boxWrap > div.left_box ul li a {
    font: 14px/1 "arial";
  }
  body #about .inner .boxWrap > div.left_box ul li a i {
    font-size: 12px;
  }
  body #about .inner .boxWrap > div.right_box {
    width: 100%;
  }
  body #about .inner .boxWrap > div.right_box ul.on {
    display: block;
  }
  body #about .inner .boxWrap > div.right_box ul > li {
    width: 100%;
    height: 100%;
    margin-right: 0;
    padding-right: 0;
    border-top: 3px solid #4e6298;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    background: #ddd;
    text-align: center;
  }
  body #about .inner .boxWrap > div.right_box ul > li > h1 {
    font: bold 30px/1 "arial";
    background: #eee;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  body #about .inner .boxWrap > div.right_box ul > li > h2 {
    margin-bottom: 35px;
    padding: 0 20px;
  }
  body #about .inner .boxWrap > div.right_box ul > li > p {
    margin-bottom: 35px;
    padding: 0 20px;
  }
  body #about .inner .boxWrap > div.right_box ul > li > a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  body #footer .inner {
    width: 100%;
    padding: 10px 20px 0;
  }
}
@media screen and (max-width: 750px) {
  body #services {
    padding: 50px 20px;
  }
  body #services .inner {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  body #services .inner .boxWrap {
    width: 100%;
  }
  body #services .inner .boxWrap > div {
    float: none;
  }
  body #services .inner .boxWrap > div.left_box {
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding: 20px 0px 50px 10px;
  }
  body #services .inner .boxWrap > div.left_box h1 {
    font: bold 16px/1 "arial";
  }
  body #services .inner .boxWrap > div.left_box ul {
    width: 100%;
  }
  body #services .inner .boxWrap > div.left_box ul li {
    float: left;
    width: 25%;
    position: relative;
    border-bottom: none;
  }
  body #services .inner .boxWrap > div.left_box ul li a {
    display: block;
    font: 12px/1 "arial";
    text-align: center;
  }
  body #services .inner .boxWrap > div.left_box ul li a i {
    display: none;
  }
  body #services .inner .boxWrap > div.left_box ul li a::before {
    content: "";
    display: block;
    height: 50%;
    width: 1px;
    background: #ccc;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  body #services .inner .boxWrap > div.right_box {
    width: 100%;
    height: 500px;
    position: relative;
  }
  body #services .inner .boxWrap > div.right_box ul.on {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  body #services .inner .boxWrap > div.right_box ul li .title {
    height: 30%;
  }
  body #services .inner .boxWrap > div.right_box ul li .title h1 {
    font: bold 16px/1 "arial";
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
  }
  body #services .inner .boxWrap > div.right_box ul li .title span {
    width: 45px;
    height: 45px;
    right: 25px;
  }
  body #services .inner .boxWrap > div.right_box ul li .title span i {
    font-size: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box {
    height: 70%;
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box h2 {
    font: 14px/1.5 "Kdam Thmor Pro";
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box p {
    font: 14px/1.7 "arial";
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box a {
    font: 14px/1 "arial";
  }
  body #services .inner .boxWrap > div.right_box ul.box1 {
    height: 500px;
  }
  body #services .inner .boxWrap > div.right_box ul.box1.on {
    display: block;
    width: 100%;
  }
  body #services .inner .boxWrap > div.right_box ul.box1 li {
    display: block;
    width: 100%;
    height: calc(33.3333333333% - 2vh);
    float: none;
    margin-bottom: 2vh;
  }
  body #services .inner .boxWrap > div.right_box ul.box1 li:last-of-type {
    margin-bottom: 0;
  }
  body #services .inner .boxWrap > div.right_box ul.box1 li .title {
    height: 40%;
  }
  body #services .inner .boxWrap > div.right_box ul.box1 li .txt_box {
    height: 60%;
  }
  body #services .inner .boxWrap > div.right_box ul.box1 li p {
    display: none;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 {
    width: 100%;
    border-top: 3px solid #4e6298;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li {
    float: left;
    width: 100%;
    border: none;
    padding: 20px 20px 20px 0;
    box-shadow: none;
    border-radius: none;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(1) {
    width: calc(30% - 10px);
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(1) .pic {
    width: 100%;
    height: 250px;
    background: url(../img/pic4.jpg) no-repeat center/cover;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) {
    width: calc(40% - 10px);
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) h1 {
    font: bold 20px/1 "arial";
    color: #4e6298;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) p {
    font: 14px/1.3 "arial";
    color: #333;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) a {
    display: block;
    width: 80px;
    height: 30px;
    background: linear-gradient(#4e6298, #303239, #303239);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px/1 "arial";
    color: #fff;
    border-radius: 5px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) {
    width: calc(30% - 10px);
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) h1 {
    font: bold 20px/1 "arial";
    color: #4e6298;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) h2 {
    font: bold 18px/1 "arial";
    color: #4e6298;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) p {
    font: 14px/1.3 "arial";
    color: #333;
    margin-bottom: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) a {
    display: block;
    width: 80px;
    height: 30px;
    background: linear-gradient(#4e6298, #303239, #303239);
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px/1 "arial";
    color: #fff;
    border-radius: 5px;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li .pic {
    height: 100%;
  }
  body #services .inner .boxWrap > div.right_box ul.box4 li {
    width: 100%;
  }
  body #services .inner .boxWrap > div.right_box ul.box4 li .pic {
    height: 100%;
  }
  body #projects .inner .boxWrap > div.right_box {
    width: 100%;
    position: relative;
  }
  body #projects .inner .boxWrap > div.right_box ul {
    display: block;
    height: 500px;
  }
  body #projects .inner .boxWrap > div.right_box ul li {
    float: none;
    width: 100%;
    height: calc(33.3333333333% - 2vh);
    margin-bottom: 2vh;
  }
  body #projects .inner .boxWrap > div.right_box ul li:last-of-type {
    margin-bottom: 0;
  }
  body #projects .inner .boxWrap > div.right_box ul li .txt_box {
    padding: 10px 20px 0;
  }
  body #projects .inner .boxWrap > div.right_box ul li .txt_box::after {
    bottom: auto;
    top: 40px;
  }
  body #projects .inner .boxWrap > div.right_box ul li .txt_box .bottom_txt {
    padding: 10px 20px;
  }
  body #about .inner .boxWrap > div.left_box ul li a {
    position: relative;
    display: block;
    font: 12px/1 "arial";
    text-align: center;
  }
  body #about .inner .boxWrap > div.left_box ul li a i {
    display: none;
  }
  body #about .inner .boxWrap > div.left_box ul li a::before {
    content: "";
    display: block;
    height: 50%;
    width: 1px;
    background: #ddd;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  body #about .inner .boxWrap > div.right_box ul > li > h1 {
    font: bold 24px/1 "arial";
  }
  body #about .inner .boxWrap > div.right_box ul > li > h2 {
    margin-bottom: 25px;
    font-size: 14px;
  }
  body #about .inner .boxWrap > div.right_box ul > li > p {
    font-size: 12px;
  }
  body #about .inner .boxWrap > div.right_box ul > li > p br {
    display: none;
  }
}
@media screen and (max-width: 539px) {
  body #visual {
    padding: 20px;
  }
  body #visual .inner > .txt_box {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  body #visual .inner > .txt_box > h1 {
    width: 100%;
    font: bold 22px/1 "arial";
    text-align: center;
    margin-bottom: 5px;
  }
  body #visual .inner > .txt_box > a {
    margin: 0 auto;
    width: 120px;
    height: 30px;
    font: 14px/30px "arial";
  }
  body #visual .inner .content {
    display: block;
  }
  body #visual .inner .content #slider {
    width: 100%;
    margin-bottom: 20px;
  }
  body #visual .inner .content .title_box {
    width: 100%;
    margin-left: 0;
  }
  body #visual .inner .content .title_box .prev {
    left: auto;
    right: 20px;
  }
  body #visual .inner .content .title_box .next {
    left: auto;
    right: 0;
  }
  body #visual .inner .content .title_box .txt_box {
    width: 100%;
    padding: 20px 0 0;
  }
  body #visual .inner .content .title_box .txt_box h1 {
    font: bold 20px/1 "arial";
  }
  body #visual .inner .content .title_box .txt_box > h2 {
    font: 14px/1.5 "Kdam Thmor Pro";
  }
  body #visual .inner .content .title_box .txt_box > span {
    font: 12px/1 "arial";
  }
  body #visual .inner .content .title_box .txt_box > p {
    font: 12px/1.3 "arial";
    color: #555;
    margin-bottom: 30px;
  }
  body #visual .inner .content .title_box .txt_box > a {
    font: 12px/1 "arial";
  }
  body #services {
    padding: 20px;
  }
  body #services .inner .boxWrap > div.right_box ul li .title h1 {
    font: bold 14px/1 "arial";
  }
  body #services .inner .boxWrap > div.right_box ul li .title span {
    width: 35px;
    height: 35px;
  }
  body #services .inner .boxWrap > div.right_box ul li .title span i {
    font-size: 15px;
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box {
    height: 70%;
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box h2 {
    font: 12px/1 "Kdam Thmor Pro";
  }
  body #services .inner .boxWrap > div.right_box ul li .txt_box a {
    font: 12px/1 "arial";
  }
  body #services .inner .boxWrap > div.right_box ul.box2 {
    width: 100%;
    border-top: 3px solid #4e6298;
  }
  body #services .inner .boxWrap > div.right_box ul.box2.on {
    display: block;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li {
    float: left;
    width: 100%;
    border: none;
    padding: 20px 20px 20px 0;
    box-shadow: none;
    border-radius: none;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(1) {
    width: 100%;
    padding: 20px 0 0;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(1) .pic {
    height: 200px;
    background: url(../img/pic4.jpg) no-repeat center/cover;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) {
    width: 100%;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) h1 {
    font: bold 16px/1 "arial";
    color: #4e6298;
    margin-bottom: 5px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(2) p {
    font: 12px/1.3 "arial";
    margin-bottom: 10px;
  }
  body #services .inner .boxWrap > div.right_box ul.box2 li:nth-of-type(3) {
    display: none;
  }
  body #services .inner .boxWrap > div.right_box ul.box3.on {
    display: block;
  }
  body #services .inner .boxWrap > div.right_box ul.box3 li {
    width: 100%;
    height: 33.3333333333%;
    border-radius: 0;
  }
  body #about .inner .boxWrap > div.left_box ul li a {
    font: 10px/1 "arial";
  }
  body #about .inner .boxWrap > div.right_box {
    height: 300px;
  }
  body #about .inner .boxWrap > div.right_box ul {
    height: 300px;
  }
  body #about .inner .boxWrap > div.right_box ul > li > h1 {
    font: bold 18px/1 "arial";
  }
  body #about .inner .boxWrap > div.right_box ul > li > h2 {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 2;
  }
  body #about .inner .boxWrap > div.right_box ul > li > p {
    display: none;
  }
  body #footer {
    padding: 20px 0;
  }
  body #footer .inner {
    padding: 10px 20px 20px;
  }
  body #footer .inner > h1 {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
  }
  body #footer .inner .top_box {
    float: none;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  body #footer .inner address {
    text-align: center;
    float: none;
    margin-bottom: 50px;
  }
  body #footer .inner > p {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  body #footer .inner .bottom_box {
    float: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body #footer .inner .bottom_box li {
    float: none;
    margin-left: 0;
    margin: 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
