.gallery {
	.sub_visual {
		.pic {
			width: 100%;
			height: 100%;
			background: url(../img/community_bg.jpg) no-repeat center/cover;
		}
	}
	.inner {
		.loading {
			width: 100px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: 1s;
			opacity: 1;
			&.off {
				opacity: 0;
			}
		}

		#list {
			opacity: 0;
			transform: translateY(100px);
			transition: 1s;
			&.on {
				opacity: 1;
				transform: translateY(0px);
			}
			&::after {
				content: '';
				display: block;
				clear: both;
			}

			li {
				width: calc(100% / 4);
				float: left;
				padding: 5px;
				div {
					width: 100%;
					&:hover {
						> a {
							> img {
								filter: saturate(1);
							}
							> span {
								position: absolute;
								opacity: 0;
								bottom: -100px;
							}
						}
					}
					a {
						img {
							width: 100%;
							border-radius: 5px;
							box-shadow: 5px 5px 5px grey;
							filter: saturate(0.1);
							transition: 0.5s;
						}
						> span {
							position: absolute;
							left: 0;
							bottom: 0;
							display: block;
							width: 100%;
							height: 100%;
							padding: 10px;
							display: flex;
							justify-content: center;
							align-items: center;
							flex-direction: column;
							text-align: center;
							pointer-events: none;
							transition: 0.5s;

							img {
								width: 30px;
								height: 30px;
								border-radius: 50%;
								margin-bottom: 1vh;
							}
							p {
								font: 12px/1.2 'arial';
								color: #fff;
								margin-bottom: 0.5vh;
							}
							strong {
								font: 12px/1.2 'arial';
								color: #eee;
							}
						}
					}
				}
			}
		}
	}
}

aside {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		height: 100%;
	}
	span {
		position: absolute;
		right: 20px;
		top: 20px;
		color: #fff;
		z-index: 3;
		cursor: pointer;
	}
}

@media screen and (max-width: $tablet) {
	.gallery {
		.sub_visual {
			width: 100%;
		}
		.inner {
			width: 100%;
			#list {
				li {
					width: calc(100% / 3);
				}
			}
		}
	}
}

@media screen and (max-width: '880px') {
	.gallery {
		.inner {
			#list {
				li {
					width: calc(100% / 2);
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.gallery {
		.inner {
			#list {
				li {
					width: calc(100% / 1);
				}
			}
		}
	}
}
